In [31]:
import pandas as pd
df= pd.DataFrame([[4,7,'test'],[4,8,'ap']])

In [32]:
df

   0  1     2
0  4  7  test
1  4  8    ap

In [33]:
pd.melt(df)

   variable value
0         0     4
1         0     4
2         1     7
3         1     8
4         2  test
5         2    ap

In [34]:
df.dtypes

0     int64
1     int64
2    object
dtype: object

如果一列中含有多个类型,则该列的类型会是object,同样字符串类型的列也会被当成object类型. 
不同的数据类型也会被当成object,比如int32,float32
# select_dtypes()
### DataFrame.select_dtypes(include=None, exclude=None)

In [35]:
numeric = df.select_dtypes(exclude=object)

In [36]:
numeric

   0  1
0  4  7
1  4  8

In [37]:
numeric.nunique()>1

0    False
1     True
dtype: bool